section.experience#experience
	.container
		.row.experience__wrapper
			h2.experience__header.visually-hidden Опыт работы и образование кандидата
			section.experience__terms.section
				h3.section__header Опыт работы
				.experience__inner.works
					each work in data.work
						article.works__article.work
							header
								.work__period #{work.period}
								h4.work__header.caption #{work.name}
									span(class=`caption__icon sprite-${work.icon} icon`)
										+svg(work.icon)
							.work__description.company
								h5.company__header
									if (work.company.icon !== false)
										span(class=`company__icon sprite-${work.company.icon} icon`)
											+svg(work.company.icon)
									span.company__name #{work.company.name}
									span.company__location #{work.company.location}
								.company__description
									p #{work.description}

								.company__links.sources
									each link in work.links
										a.sources__link(href=link.href title=link.title) #{link.caption}

			.experience__animation.area
			section.experience__education.section.education
				h3.section__header Образование
				ul.education__list
					each education in data.education
						li.education__item
							.speciality
								span(class=`education__icon sprite-${education.icon} icon`)
									+svg(education.icon)
								h4.speciality__header #{education.name}
								.speciality__trainers.trainers
									each trainer in education.trainers
										.trainer__item.trainer
											span.trainer__name #{trainer.name}
											span.trainer__period #{trainer.period}
											if trainer.result
												span.trainer__result #{trainer.result}
